

tei-text {
    display: inline;
    color: black;
    font-family: "Garamond";
  font-size: 14pt;
}




.stickyfoot {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5%; 
   background-color: #75b5aa;
   color: white;
   text-align: center;

}



/* styles that are dynamically added when pressing button */

.peoplestyle {
	font-weight: bold;
}

.workstyle {
	font-style:italic;
}


.conceptstyle {
	text-decoration: underline dotted 0.2rem;
}


/*music */

.musicstyle {
	background-color: #75b5aa;
}


/*locations and time*/

.locationsstyle {
    font-style: oblique;
    /*color: Gray;*/
letter-spacing: 0.3rem;}

.locationsstyle::before {
  content: "📍";
}
.timestyle {
    font-style: oblique;
    /*color: SlateBlue;*/
    letter-spacing: 0.3rem;
}
.timestyle::before {
  content: "⌚";}








 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


/* top button*/
#topbutton {

  background-color: lightgrey;
  border-radius: 3em;
  border-width: 0;
  cursor: pointer;
  right: 0; 
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  position: fixed;
}